<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id="robo" class="com.mj.beans.Robot">
<property name="id" value="1000"></property>
<property name="name" value="Chiti"></property>
<property name="labName" value="DRDO"></property>
<property name="price" value="6000"></property>
</bean>

<!-- Default bean ID -->

<!--  <bean class="com.mj.beans.Robot">
<property name="id" value="2000"></property>
<property name="name" value="Chiti2"></property>
<property name="labName" value="DRDO"></property>
<property name="price" value="6000"></property>
</bean>
<bean class="com.mj.beans.Robot">
<property name="id" value="1000"></property>
<property name="name" value="Chiti"></property>
<property name="labName" value="DRDO"></property>
<property name="price" value="6000"></property>
</bean>  -->


<!-- <bean class="org.springframework.factory.annotation.RequiredAnnotationBeanPostProcessor"/> -->
<context:annotation-config/>
</beans>
