<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="dt" class="java.util.Date">
  <!-- collaborators and configuration for this bean go here -->
  </bean>
  <bean id="wmg" class="com.mj.beans.WishMessageGenerator" scope="singleton">
  <!-- performs setter injection with "dt" bean id reffered java.util.Date class spring bean object   -->
  <property name="date" ref="dt"></property>
  </bean>
  <bean id="wmg1" class="com.mj.beans.WishMessageGenerator">
  <!-- performs setter injection with "dt" bean id reffered java.util.Date class spring bean object   -->
  <property name="date" ref="dt"></property>
  </bean>
  <bean id="wmg2" class="com.mj.beans.WishMessageGenerator" scope="prototype">
  <property name="date" ref="dt"></property>
  </bean>
  <bean id="printer" class="com.mj.beans.Printer"/>
  <bean id="printer2" class="com.mj.beans.Printer"/>
  <bean id="printer3" class="com.mj.beans.Printer" factory-method="getInstance" />
  <bean id="printer4" class="com.mj.beans.Printer" factory-method="getInstance"/>
  <bean id="printer5" class="com.mj.beans.Printer" scope="prototype" factory-method="getInstance"/>
</beans>