<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="dt" class="java.util.Date">
		<!-- collaborators and configuration for this bean go here -->
	</bean>
	<bean id="dt1" class="java.util.Date">
		<property name="year" value="110"/><!-- adds 1900 -->
		<property name="date" value="20"/><!-- 0-30 -->
		<property name="month" value="4"/><!-- 0-11 -->
	</bean>
	<bean id="wmg" class="com.mj.beans.WishMessageGenerator">
		<!-- performs constructor injection with "dt" bean id referred java.util.Date 
			class spring bean object -->
			<property name="date" ref="dt1"></property>
		<constructor-arg name="date" ref="dt" />
		
	</bean>
	<!-- more bean definitions go here -->
</beans>